<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="description" content="{{ site.description }}">

	<link rel="shortcut icon" href="https://www.emfink.net/akademicky/assets/img/favicon.ico">

	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/akademicky/assets/css/style.css" >

	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/akademicky/assets/css/academicons.min.css">

	<link rel="stylesheet" type="text/css" href="https://www.emfink.net/akademicky/assets/css/fontawesome-all.min.css">
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="stylesheet" href="https://use.typekit.net/viv2jun.css">

</head>