<div class="preface">

<h1>Preface</h1>

<p>{{ page.preface }}</p>

<p>Most of the materials reproduced here are in the public domain;
excerpts from copyrighted materials are included for teaching purposes
under the fair use doctrine. Materials have been redacted to omit
passages not pertinent to the learning objectives. Judicial opinions
have also been “cleaned up”<span
class="sidenote-wrapper"><label for="sn-0" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-0" class="margin-toggle"/><span
class="sidenote"><em>See</em> Jack Metzler, <a
href="https://lawrepository.ualr.edu/cgi/viewcontent.cgi?article=1405&amp;context=appellatepracticeprocess">Cleaning
Up Quotations</a>, 18 J. App. Prac. &amp; Process 143, 154 (2017)<br />
<br />
</span></span> for ease of reading.</p>

<p>Following the typographical style of <a
href="https://www.edwardtufte.com/tufte/">Edward Tufte</a>, this book
uses sidenotes and margin notes in place of traditional footnotes or
endnotes. These appear in the right-hand margin, avoiding the need to
jump through hyperlinks or scroll to the note text. Numbered
sidenotes<span
class="sidenote-wrapper"><label for="sn-1" class="margin-toggle sidenote-number"></label><input type="checkbox" id="sn-1" class="margin-toggle"/><span
class="sidenote">This is an example of a sidenote.<br />
<br />
</span></span> are used for footnotes in the source materials (with
original note numbering indicated in parentheses). Unnumbered margin
notes,<span
class="sidenote-wrapper"><label for="sn-2" class="margin-toggle">&#8853;</label><input type="checkbox" id="sn-2" class="margin-toggle"/><span
class="marginnote">This is an example of a margin note.<br />
<br />
</span></span> in <span class="sans-green">green sans-serif
typeface</span>, are used for editor’s comments.</p>
<p>Links to cross-referenced pages or external online material are
indicated by red-colored text, e.g. <a href="https://www.dol.gov/">U.S.
Department of Labor</a>.</p>
</div>
