<!--  IF YOU HAVE CLONED THIS THEME, DELETE THE FOLLOWING CODE -->
<!-- Statcounter code for Emfink.net ElonLaw
https://www.emfink.net/ElonLaw/ -->
<script type="text/javascript">
var sc_project=11987940; 
var sc_invisible=1; 
var sc_security="0389e5e8"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/11987940/0/0389e5e8/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->