
$container-width: 1000px;

.button {
	border:0;
	border-radius:4px;
	outline:0;
	cursor:pointer;
	&.smaller{
		padding:7px 10px;
		font-size: $smaller-size;
		font-weight: $medium-weight;
	}
	&.small{
		padding:7px 20px;
		font-size: $small-size;
		font-weight: $medium-weight;
	}
	&.large{
		padding:15px 45px;
		font-size: $large-size;
	}
	&.large2{
		padding:15px 45px;
		font-size: $larger-size;
	}
	&.primary{
		color:#FFF;
		background:$theme-color;
		&:hover{
			background:darken($theme-color, 3%);
		}
	}
	&.syllabus{
		margin-top: 1rem;
		color: $off-white;
		background: $theme-color;
		&:hover{
			background:darken($theme-color, 20%);
		}
	}
	&.success{
		color:#FFF;
		background:$success;
		&:hover{
			background:darken($success, 3%);
		}
	}
	&.danger{
		color:#FFF;
		background:$danger;
		&:hover{
			background:darken($danger, 3%);
		}
	}
}


*{
	margin:0;
	padding:0;
}

.container{
	width: 90%;
	margin:0 auto;
}

.pull-left{
	float:left;
}

.pull-right{
	float:right;
}

.row{
	min-height: 2em;
	line-height:2em;
	width:100%;
}

.span{
	float:left;
	display:inline;
	min-height:1em;
	margin:0 2% 20px 2%;
	&:first-child{
		margin-left:0;
	}
	&:last-child{
		margin-right:0;
	}
}

.one{
	width:8%;
}

.two{
	width:16%;
}

.three{
	width:24%;
}

.four{
	width:32%;
}

.five{
	width:40%;
}

.six{
	width:48%;
}

.seven{
	width:56%;
}

.eight{
	width:64%;
}

.nine{
	width:72%;
}

.ten{
	width:80%;
}

.eleven{
	width:88%;
}

.twelve{
	width:100%
}

.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.row:before,.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.row:after {
	clear: both;
}

.row {
	zoom: 1;
}


/* RESPONSIVE */

@media only screen and (min-width: 768px) and (max-width: 999px) {
	.container{
		width:768px;
	}
}

@media only screen and (max-width: 767px) {
	.container{
	   width:300px;
	   .table{
	      width:100%;
	      display:block;
	      overflow: auto;
	   }
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container{
		width:420px;
		.table{
			display:table;
		}
	}
}



.table {
	width:100%;
	border-spacing: 0;
	border-collapse: collapse;
	text-align:left;
	th,td{
		border-bottom:2px lighten(#CCC, 2%) solid;
		padding:8px 12px;
	}
	td{
		border-bottom:1px lighten(#CCC, 3%) solid;
	}
	&.table-striped tbody tr:nth-child(2n+1) {
	  background-color: lighten(#EEE, 2%);
	}
	&.table-bordered{
		border:1px #CCC solid;
		td,th{
			border:1px #CCC solid;
		}
	}
}



.alert{
	padding:15px;
	margin:10px 0;
	border-radius:3px;
	&.primary{
		background:lighten($primary, 40%);
		border:1px lighten($primary, 30%) solid;
	}
	&.success{
		background:lighten($success, 40%);
		border:1px lighten($success, 30%) solid;
	}
	&.danger{
		background:lighten($danger, 40%);
		border:1px lighten($danger, 30%) solid;
	}
}