   
@media print {
	@page {
		margin-top: 20mm;
		margin-bottom: 60mm;
		margin-left: 0;
		margin-right: 0;
		margin-inside: 20mm;
		margin-outside: 40mm;
		padding: 0 0 0 0;
		size: letter portrait;
		background-color: transparent;
		orphans: 4;
		widows: 2;
		font-size: 10pt;
		@leftnote { width: 0;}
		@rightnote { width: 40mm; padding-left: 8mm;}
	}
  	@page :first {
		@top-left { content: normal; }
		@top-center { content: normal; }
		@top-right { content: normal; }
	}
	@page :blank {
		@top-left { content: normal; }
		@top-center { content: normal; }
		@top-right { content: normal; }
    }
	@page chapter {
		border-top: thin black solid;
		}
	@page chapter:left {
		@top-left {
			font-family: $sans-font;
			content: counter(page);
			vertical-align: bottom;
		}
		@top-center {
			font-family: $sans-font;
			content: string(book_title);
			vertical-align: bottom;
		}
		@top-right {
			content: normal;
		}
	}
	@page chapter:right {
		@top-left {
			content: normal;
		}
		@top-center {
			font-family: $sans-font;
			content: string(chapter_title);
			vertical-align: bottom;
		}
		@top-right {
			font-family: $sans-font;
			content: counter(page);
			vertical-align: bottom;
		}
	}
	@page chapter:first {
		margin-top: 25%;
		@top-left {
			content: normal;
		}
		@top-center {
			content: normal;
		}
		@top-right {
			content: normal;
		}
	}
	@page chapter:blank {
		@top-left { content: normal; }
		@top-center { content: normal; }
		@top-right { content: normal; }
    }
	html {
		font-size: 10pt;
	}
	body {
		width: 100%;
		margin: 0 0 0 0;
		padding: 5mm 0 0 0;
		background-color: transparent;
	}
	page-container {
		padding: 0 0 0 0;
	}
	section {
		padding: 0 0 0 0;
	}
	p {
		font-size: 10pt;
        text-align-all: justify;
        text-align-last: left;
	}
	div.book-cover {
		margin: 0 0 0 0;
		page: blank;
		break-after: right;
	}
	div.title-block {
		margin: 2.5in 0 0 0;
	}
	p.book-title {
		font-size: 24pt;
		string-set: book_title content();
	}
	p.book-subtitle {
		font-size: 16pt;
		string-set: book_title content();
	}
	p.book-author {
		font-size: 14pt;
		string-set: book_author content();
	}
	.publication-block{
		margin: 0 0 0 0;
		-prince-float: bottom;
	}
	p.book-affiliation {
		font-size: 14pt;
		margin: 0 0 0 0;
	}
	p.book-date {
		font-size: 14pt;
		margin: 0 0 0 0;
	}
	div.casebook {
		display: block;
		width: 108mm;
		padding: 0 0 0 0;
		counter-reset: page 1;
	}
	div.chapter {
		padding: 0 0 0 0; 
		page: chapter;
		break-before: right;
		-prince-page-group: start;
	}
	h1, h2, h3, h4, h5, h6 {
		hyphens: none;
        text-align: left;
		break-after: avoid;
	}
	h1 {
		font-size: 20pt;
		string-set: chapter_title content();
	}
	h2 {
		font-size: 18pt;
	}
	h3 {
		font-size: 16pt;
	}
	h4 {
		font-size: 14pt;
	}
	h5 {
		font-size: 12pt;
	}
	h6 {
		font-size: 11pt;
		margin-top: 1.5rem;
	}
	p.case-h1 {
		font-size: 14pt;
	}
	p.case-h2 {
		font-size: 12pt;
	}
	p.case-h3 {
		font-size: 11pt;
	}
	p.case-h4 {
		font-size: 11pt;
	}
	ol, ul {
		text-align: justify;
	}
	li {
		text-align: justify;
	}
	.casebook figure.fullwidth figcaption { 
		float: none;
		margin: .125in 0 .25in 0; 
		}
	.sidenote, .marginnote {
		float: none;
		clear: none;
		margin: 0 0 12pt 0;
		width: inherit;
		hyphens: auto;
		hyphenate-lines: 1;
		-prince-float: rightnote;
	}
	.sidenote { 
		font-size: 8pt;
		font-weight: $normal-weight;
	}
	.marginnote {
		font-size: 8pt;
		font-weight: $normal-weight;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	header {
		display: none;
	}
	.button {
		display: none;
	}
	img {
		max-width: 90% !important;
	}
	hr {
		margin-top: 4em;
		margin-bottom: 4em;
	}
	p,
	h2,
	h3 {
	  orphans: 4;
	  widows: 4;
	}
	p.case-h1, p.case-h2, p.case-h3, p.case-h4 {
		break-after: avoid;
	}
	.break {
		margin: 0 0 0 0;
		break-before: page;
	}
	.leftalign {
		hyphens: none;
        text-align: left;
	}
}
// Hide print header/footer in screen display
@media screen {
	.print-header {
		display: none;
	}
	.print-footer {
		display: none;
	}
	.print-headfoot-block {
		display: none;
	}
}
