.casebook {
    padding: 75px 0; 
	width: 50vw;
}

/* Headings */
.casebook h1 {
	font-size: $h1casebook;
	font-weight: $medium-weight;
	font-style: normal;
	color: $dull-red;
	margin: 5rem 0 0 2.5rem;
}
.casebook h1 + h2 {
  margin-top: 1rem;
}
.casebook h2 {
	font-size: $h2casebook;
	font-weight: $normal-weight;
	color: $dull-red;
	margin: 3rem 0 0 3rem;
}
/* title and cite of incorporated materials */
.casebook h3 {
	font-size: $h3casebook;
	font-weight: $medium-weight;
	font-style: normal;
	color: $dull-red;
	margin: 2rem 0 0.5rem 0;
	border-bottom: 2px solid $dull-red;
}
/* internal subheadings for incorporated materials */
.casebook h4 {
  font-size: $h4casebook;
  font-weight: $medium-weight;
  font-style: normal;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
.casebook h5 {
	font-size: $h5casebook;
	font-weight: $medium-weight;
	font-style: normal;
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
.casebook h6 {
	font-size: $h6casebook;
	font-weight: $normal-weight;
	font-style: italic;
	margin-top: 1.25rem;
	margin-bottom: 0.5rem;
}
/* auto-numbered section & subsections */
.casebook h1:before {
	content: counter(section) ". ";
    counter-increment: section;  /* Add 1 to section */
	float: left;
	margin-left: -2.5rem;
}
.casebook h1 {
    counter-reset: subsection;      /* Set subsection to 0 */
}
.casebook h2:before {
    counter-increment: subsection;
    content: counter(section) '.' counter(subsection);
	float: left;
	margin-left: -3rem;
}
.casebook h2 {
    counter-reset: subsubsection;
}

/* Chapter Headings */
.frontmatter {
    border-top: 2px solid $theme-color;
}

.chapter-title {
	padding: 10px 0 0 10px;
	margin: 0 0 3rem 0;
    border-left: 2px solid $theme-color;
    border-top: 2px solid $theme-color;
	}
.chapter-number {
	color: $dull-red;
	font-family: $sans-font;
	font-size: $subtitle-size;
	font-weight: $medium-weight;
	line-height: $single-line-height;
	font-style: normal;
	margin-bottom: 0;
	}
.chapter-number p {
	margin-bottom: 0;
	}
.chapter-name {
	color: #b03a2e;
	font-family: adelle-sans, sans-serif;
	font-size: $title-size;
	font-weight: 600;
	font-style: normal;
	margin: 0 0 0 0;
	padding: 2rem 0 0 0;
}
	
/* Blockquotes */
.casebook blockquote p {
	font-style: normal;
}

/* Divider */
.casebook hr {
	border-top: 2px solid $theme-color;
	width:1rem;
	margin:3rem auto 3rem auto;
}
/* Force Page Break in Printing */
.break {
	margin: 500px 0 0 0;
}

/* explanatory comments */
.comment {
	font-family: $sans-font;
	font-size: $smaller-size;
	margin: 2rem 0 2rem 0;
	padding: 1px 2% 10px 2%;
    background-color: $text-box-color;
	border: 1px solid $yellow;
}
.comment p {
	font-family: $sans-font;
	font-size: $smaller-size;
}
.comment h4 {
	font-family: $sans-font;
	border: none;
}
.comment h5 {
	font-family: $sans-font;
	font-size: $h6;
	margin-top: 1rem;
}
.comment h6 {
	font-family: $sans-font;
	font-size: $small-size;
	font-weight: $normal-weight;
	font-style: italic;
	margin-top: 1rem;
}

/* Legal Code: Indented subsections in statutes, etc. */
.legal-code h5 {
	font-style: normal;
}
/* Heading for Official Comments */
.legal-code h6 {
	font-style: normal;
}
.legal-code blockquote {
	font-size: $body-size;
	padding: 0 0 0 1.5rem;
}
.legal-code blockquote p {
	font-size: $body-size;
}

/* Figures & Images */
.casebook figure {
    padding: 0;
    border: 0;
    margin: 2em 0 2em 0;
}
.marginnote figure {
    padding: 0;
    border: 0;
    margin: 1em 0 1em 0;
}
.casebook figcaption {
	float: none;
	font-family: $sans-font;
    font-size: $smaller-size;
    text-align: center;
}
.marginnote figcaption, .sidenote figcaption { 
    font-size: $smallest-size;
	}
.casebook figure > img {
	  display: block;
  } 
.casebook figure.fullwidth figcaption { 
	float: none;
	margin: 1rem 0 2rem 0; 
	}
.casebook img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	}

/* Table of Contents Dropdown */
#table-of-contents {
    float: left;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 0;
    width: auto;
}
#toc-header {
	font-family: $sans-font;
    font-weight: $medium-weight;
    font-size: $smallest-size;
}
#table-of-contents li, #table-of-contents ul, #table-of-contents ul li {
	font-family: $sans-font;
	font-size: $smallest-size;
    list-style: outside none none !important;
	width: auto;
	padding: 0 0 0 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: $shorter-line-height;
}
li.toc-li-H1 {
    margin: 0 0 0 0;
    font-weight: $bold-weight;
}
li.toc-li-H2 {
    margin: 0 0 0 1em;
    font-style: italic;
}
li.toc-li-H3 {
    margin: 0 0 0 2em;
}
li.toc-li-H4 {
    margin: 0 0 0 3em;
}
:target {
	scroll-margin-top: 80px;
}

/* Casebook Cover Page */ 
.cover-block {
	width: 100%;
	color: white;
	padding: 20px 20px;
}
.book-cover {
    position: relative; 
    height: 85lvh;
    width: 100%;
	padding: 10px 20px 10px 20px;
}
.book-cover::before {    
	content: "";
	background-image: url("../img/cover.png");
	background-size: cover;
    background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: 0.7;
}
.book-title {
    color: $theme-color;
    font-family: $heading-font;
    font-size: $title-size;
	text-transform: uppercase;
    line-height: 1;
	font-weight: $normal-weight;
    font-style: normal;
	position: relative;
}
.book-subtitle {
    color: $theme-color;
    font-family: $heading-font;
    font-size: $subtitle-size;
	text-transform: uppercase;
    line-height: 1;
	font-weight: $normal-weight;
    font-style: normal;
	position: relative;
}
.book-author {
    color: $theme-color;
    font-family: $heading-font;
    font-size: $larger-size;
	text-transform: uppercase;
    line-height: 1;
	font-weight: $normal-weight;
    font-style: normal;
	position: relative;
	margin-top: 3rem;
}.book-affiliation {
    color: $theme-color;
    font-family: $heading-font;
    font-size: $large-size;
	text-transform: uppercase;
	font-weight: $normal-weight;
    line-height: 1;
    font-style: normal;
	position: relative;
}
.book-date {
    color: $theme-color;
    font-family: $heading-font;
    font-size: $large-size;
	text-transform: uppercase;
    line-height: 1;
    font-style: normal;
	position: relative;
}
/* Publication and design information */
.colophon {
	font-size: $smaller-size;
	margin: 3rem 0 0 0;
    border-top: 1px solid $theme-color;
}
.colophon p {
	font-size: $smaller-size;
	width: 50%;
}
.colophon li {
	font-size: $smaller-size;
	width: 50%;
}
/* White space between chapters */
.chapter {
	padding: 100px 0 0 0;
}