/*
pre {
	width: 52.5%;
	padding-left: 2.5%;
	overflow-x: auto; 
}

pre {
	padding-left: 2.5%;
	overflow-x: auto; 
}

*/

pre {
	overflow-x: auto; 
}

pre, pre code, p code, p pre code {
	font-family: $code-font;
	font-size: $small-size;
	line-height: $taller-line-height;
}
