footer {
	font-family: $sans-font;
	background-color: $dark-grey;
	border-top: thin solid $dark-grey;
	color: $light-grey;
	font-size: $smallest-size;
	padding: 0;
	position: fixed;
		left: 0px;
		bottom: 0px;
	width: 100%;
}

footer p {
	font-size: $smallest-size;
	font-weight: $normal-weight;
	margin-top: 0;
	margin-bottom: 0;
}

footer a { 
	color: $white !important;
	&:hover {
	color:darken($white, 50%) !important;
	}
}

#footer-block {
    position: relative;
	max-width: 20rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1% 0;
	height: 100%;
}

#footer-block p {
	font-size: $smallest-size;
    position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}


#print-footer {
	font-family: $sans-font;
	border-top: thin solid $dark-grey;
	font-size: 6pt;
	padding: 0;
	position: fixed;
		left: 0px;
		bottom: 0px;
	width: 100%;
	display: none;
}

#print-footer-text {
	font-size: 6pt;
	display: flex; 
	flex-flow: row wrap;
	border-top: 1px solid black; 
	margin: 10px 10% 0 10%; 
	padding-top: 3px;
}

.print-footer-alignleft {
	font-family: $sans-font;
	font-size: 6pt;
	font-weight: 300;
	width:50%;
	text-align:left;
}

.print-footer-alignright {
	font-family: $sans-font;
	font-size: 6pt;
	font-weight: 300;
	width:50%;
	text-align:right;
}