
/* CASES */

.case p {
	font-weight: $normal-weight;
}

.case h1, h2, h3, h4, h5 {
	font-family: $text-font;
}

.case h3, h4, h5 {
	margin-bottom: 1rem;
}

.case h1 {
	font-size: $h3;
    margin-top: 2rem;
}

.case h2 {
	font-size: $h4;
	font-style: normal;
}

.case h3 {
	font-size: $h4;
	font-weight: normal;
	font-style: italic;
}

.case h4 {
	font-size: $h5;
	font-weight: bold;
	font-style: normal;
}

.case blockquote {
    border: none;
}

/*
.case blockquote, 
blockquote p {
    font-size: $small-size;
    line-height: $blockquote-line-height;
    font-style: normal;
    margin: 0;
    padding: 0;
}
*/


.case-footer {
	border-top: 1px solid $dark-grey;
	margin-top: 2rem;
    margin-bottom: 0rem;
	font-family: $sans-font;
	font-size: $small-size;
	font-weight: $light-weight;
	font-style: normal;
}

.case-footer p {
	font-family: $sans-font;
	border: none;
	font-size: $smaller-size;
	font-weight: $light-weight;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.case-footer h1 {
	font-family: $sans-font;
	border: none;
	font-size: $smaller-size;
	font-weight: $normal-weight;
	font-style: normal;
	margin-top: 1rem; 
	margin-bottom: .5rem;
}

/* STATUTES & RULES */\\


.statute h1, h2, h3, h4, h5 {
	font-family: $text-font;
}

.statute h3, h4, h5 { 
	margin-bottom: 1rem; 
}

.statute h1 { 
	font-size: 1.618rem; 
	margin-top: 4rem; 
}

.statute h2 {  
	font-size: 1.236rem; 
	margin-top: 3rem; 
}

.statute h3 {  
	font-size: 1rem; 
}

.statute h4 {  
	font-size: 0.764rem; 
}

.statute blockquote { 
	font-weight: $normal-weight;
	border: none; 
	font-style: normal; 
}

/*
.statute blockquote p {
    font-size: 1.2rem;
    line-height: $base-line-height;
    font-style: normal;
    margin-left: 2rem;
    padding: 0;
	width: 50rem;
}

.statute blockquote, blockquote p {
    font-size: 1.2rem;
    line-height: $base-line-height;
    font-style: normal;
    margin: 0;
    padding: 0;
	width: 50rem;
}

*/
