.case p {
	font-weight: $light-weight;
}

.case h1, h2, h3, h4, h5 {
	font-family: $serif-heading-font;
}

.case h3, h4, h5 {
	margin-bottom: 1rem;
}

.case h1 {
	font-size: $h3;
    margin-top: 2rem;
}

.case h2 {
	font-size: $h4;
	font-style: normal;
}

.case h3 {
	font-size: $h4;
	font-weight: normal;
	font-style: italic;
}

.case h4 {
	font-size: $h5;
	font-weight: bold;
	font-style: normal;
}

.case blockquote {
    border: none;
}

.case blockquote, 
blockquote p {
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0.5rem;
	margin-left: 1rem;
	line-height: 1.5;
	margin-right: .5rem;
    padding: 0;
}

.case-footer {
	border-top: 1px solid $dark-grey;
	margin-top: 2rem;
    margin-bottom: 0rem;
	font-family: $sans-font;
	font-size: $small-size;
	font-weight: $light-weight;
	font-style: normal;
}

.case-footer p {
	font-family: $sans-font;
	border: none;
	font-size: $smaller-size;
	font-weight: $light-weight;
	font-style: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.case-footer h1 {
	font-family: $sans-font;
	border: none;
	font-size: $smaller-size;
	font-weight: $normal-weight;
	font-style: normal;
	margin-top: 1rem; 
	margin-bottom: .5rem;
}

.statute p {
	font-family: $body-font;
	font-weight: $light-weight;
}

.statute h1, h2, h3, h4, {
	font-family: $serif-heading-font;
}

.statute h3, h4, h5 { 
	margin-bottom: 1rem; 
}

.statute h1 { 
	font-size: 1.618rem; 
	margin-top: 4rem; 
}

.statute h2 {  
	font-size: 1.236rem; 
	margin-top: 3rem; 
}

.statute h3 {  
	font-size: 1rem; 
}


/* heading for comments */
.statute h4 {  
	font-size: 0.8rem; 
	font-style: italic;
	font-weight: $normal-weight;
}

/* body of comments */
.statute h5 {
	font-family: $sans-font;
	font-size: $smaller-size; 
	font-weight: $light-weight;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* body of illustrations */
.statute h6 {  
	font-family: $sans-font;
	font-size: $smaller-size;
	font-weight: $light-weight;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 1rem;
}

.statute blockquote { 
    font-size: 1rem;
	font-weight: $light-weight;
	font-style: normal;
	line-height: $line-height;
	border: none; 
    margin-left: 1.5rem;
	margin-top: 1rem; 
	margin-bottom: 1rem; 
	padding: 0;
}

.statute blockquote p {
    font-size: 1rem;
	line-height: $line-height;
	font-style: normal;
	margin-top: 1rem; 
	margin-bottom: 1rem; 
    padding: 0;
	max-width: 50rem;
}