
@media screen and (min-width: 300px){ 
	html{ font-size: 14px;} 
}

@media screen and (min-width: 600px){ 
	html{ font-size: 16px;} 
}

@media screen and (min-width: 800px){ 
	html{ font-size: 18px;} 
}

@media screen and (min-width: 1000px){ 
	html{ font-size: 20px;} 
}

@media screen and (min-width: 1400px){
	html{ font-size: 22px;} 
}


@media screen and (max-width: 760px) { 

	pre code { 
		width: 87.5%; 
	}
	ul { 
		width: 85%; 
	}
	figure { 
		max-width: 90%; 
	}
	figcaption, figure.fullwidth figcaption {
		margin-right:0%;
		max-width: none; 
	}
	blockquote p, blockquote footer, div.epigraph > blockquote > footer,.MJXc-display {  
		width: 80%;
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: -webkit-calc(900px - (#{50px} * 2));
        max-width:         calc(900px - (#{50px} * 2));
        margin-right: auto;
        margin-left: auto;
        padding-right: 50px;
        padding-left: 50px;
    }
}

// Does not display a print-footer for screen display

@media screen {
  .print-footer {
    display: none;
  }
}

//printing stuff

@media print {
    * {
    -webkit-transition: none !important;
    transition: none !important;
    }

    *,
    *:before,
    *:after {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    @page {
        margin: .5in .5in 1in .5in;
        orphans:4; widows:2;
    }

    body {
        font-size:  11pt;
    }

	footer {
		font-family: $sans-font;
		border-top: thin solid $off-black;
		font-size: 8pt;
		padding: 0;
		position: fixed;
			left: 0px;
			bottom: 0px;
		width: 100%;
	}

	footer p {
		font-size: 8pt;
		margin-top: 0;
		margin-bottom: 0;
	}

	.print-footer {
	    position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
		padding: 5px 0;
		height: 100%;
	}

	.print-footer p {
		font-size: 8pt;
	    position: relative;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		margin-bottom: 0;
	}

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 4;
        widows: 4;
    }

    article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
        page-break-after: avoid;
    }

    body header {
      display:none;
    }


    body footer {
      display: block;
    }
}