
@media screen and (min-width: 300px){ 
	html{ font-size: 14px;} 
}

@media screen and (min-width: 600px){ 
	html{ font-size: 16px;} 
}

@media screen and (min-width: 800px){ 
	html{ font-size: 18px;} 
}

@media screen and (min-width: 1000px){ 
	html{ font-size: 20px;} 
}

@media screen and (min-width: 1400px){
	html{ font-size: 22px;} 
}


@media screen and (max-width: 760px) { 

	pre code { 
		width: 87.5%; 
	}
	ul { 
		width: 85%; 
	}
	figure { 
		max-width: 90%; 
	}
	figcaption, figure.fullwidth figcaption {
		margin-right:0%;
		max-width: none; 
	}
	blockquote p, blockquote footer, div.epigraph > blockquote > footer,.MJXc-display {  
		width: 80%;
		padding-left: 5%;
		padding-right: 5%;
	}
}

@media screen and (min-width: 768px) {
    .wrapper {
        max-width: -webkit-calc(900px - (#{50px} * 2));
        max-width:         calc(900px - (#{50px} * 2));
        margin-right: auto;
        margin-left: auto;
        padding-right: 50px;
        padding-left: 50px;
    }
}


//Printing 

@media print {
    * {
    -webkit-transition: none !important;
    transition: none !important;
    }

    *,
    *:before,
    *:after {
        background: transparent !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    @page {
        margin: 1in .5in 1in .5in;
        orphans:4; 
		widows:2;
	    @bottom-left {
	    	content: "{{ site.title }} — Elon Law — Prof. Fink ";
	    }
	    @bottom-right {
	    	content: {{ page.title }};
		}
    }

    body {
        font-size:  10pt;
		padding-top: 50px;
    }

	body.sidenotes { 
		width: 60%;
		margin-left: 10%;
	}

	.custom-page-start {
		margin-top: 50px;
	}
	
	.page-container {
		padding: 0 0 0 0;
	}

	#header {
	  position: fixed;
	  width: 100%;
	  top: 0;
	  left: 0;
	  right: 0;
	}

    body header {
      display:none;
    }

	#footer {
	  position: fixed;
	  width: 100%;
	  bottom: 0;
	  left: 0;
	  right: 0;
	}

	.footer-block {
		display: none;
	}

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 4;
        widows: 4;
    }

    article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
        page-break-after: avoid;
    }


}