.outline-header {
	margin-bottom: 3rem;
}

.outline h1 { 
    color: $theme-color;
	font-family: $heading-font; 
	font-weight: $normal-weight;
    font-size: $h2;
}

.outline h2 {
	font-family: $heading-font; 
	font-weight: $normal-weight;
    font-size: $h3;
}

.outline h3 {
	font-family: $heading-font; 
	font-weight: $normal-weight;
    font-size: $h4;
}

/* case names */
.outline h4 {
    font-size: $h4;
    font-family: $serif-font;
    font-weight: bold;
    font-style: normal;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.outline h5 {
    font-size: $h4;
    font-family: $serif-font;
    font-style: italic;
    font-weight: $normal-weight;
    margin-top: 1em;
    margin-bottom: .5em;
}


body {
    counter-reset: h1;  
}
.outline h1:before {
    content: counter(h1) ". ";
    counter-increment: h1;
}
.outline h1 {
    counter-reset: h2;    
}
.outline h2:before {
    content: counter(h1) "." counter(h2) " ";
    counter-increment: h2;
}
.outline h2 {
    counter-reset: h3;    
}
.outline h3:before {
    content: counter(h1) "." counter(h2) "." counter(h3) " ";
    counter-increment: h3;
}