.page-container {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}

.center-screen {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.page-header {
	margin-bottom: 3rem;
}

.page-title {
    color: $theme-color;
    font-family: $heading-font; 
    font-size: $title-size;
    line-height: $line-height;
    font-weight: $medium-weight;
    font-style: normal;
	margin-top: 0;
	margin-bottom: 0;
}

.page-subtitle {
    color: $theme-color;
    font-family: $heading-font; 
    font-size: $subtitle-size;
    line-height: $line-height;
    font-weight: $normal-weight;
    font-style: normal;
    line-height: 1;
	margin-top: 1rem;
	margin-bottom: 0;
}

.page-cite {
    font-family: $serif-font; 
	color: $text-color;
    font-size: $body-size;
    line-height: $line-height;
    font-weight: $light-weight;
	margin-top: 1rem;
	margin-bottom: 0;
}

.sidenotes-page h1 {
	font-size: $h2;
}

.sidenotes-page h2 {
	font-size: $h3;
}

.sidenotes-page h3 {
	font-size: $h4;
}

.sidenotes-page h4 {
	font-size: $h5;
}

.illustration {
    padding-top: 2rem;
    padding-top: 2rem;
    height: auto;
    width: 100%;
}

.center{
    text-align: center;
}


/* 404 PAGE */

.gevalt {
	padding: 0;
	margin: 0;
	max-width: 100%;
}


.gevalt-header {
	margin-bottom: .5rem;
}

.gevalt p {
    text-align: center;
	max-width: 90%;
	margin-left: 0;
	margin-right: 0;
}

.gevalt img { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	padding: 0;
	height: 500px; 
}

.gevalt h1 {
	color: $theme-color;
	font-weight: $medium-weight;
}

.gevalt h2 { 
	height: 100%; 
	color: $theme-color;
	text-align: center; 
	vertical-align: middle; 
	font-family: serif-font; 
	font-size: $h5; 
	font-weight: $normal-weight;
	font-style: italic; 
	margin-top: 1rem; 
	margin-left: auto; 
	margin-right: auto; 
	padding-left: 35%; 
	padding-right: 35%
}

@media screen and (max-width: 760px){ 
.gevalt img { 
	height: 350px; 
	}
.gevalt h2 { 
	padding-left: 15%; 
	padding-right: 15%
	}
}