.print-header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

.print-header p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}

.print-footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.print-footer p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}

.print-headfoot-block {
	display: flex;
	flex-flow: row wrap;
	width: 75%;
	margin: 0 0 0 12.5%;
	border-bottom: 1px solid $off-black	;
}

.print-header p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}
  
.alignleft {
	width: 50%;
	text-align: left;
}
  
.alignright {
	width: 50%;
	text-align: right;
} 

// Set page layout and hide screen elements for printing

// For printing with Prince XML
  
@media print {
	@page {
		margin-top: 37.5mm;
		margin-bottom: 37.5mm;
		margin-left: 25mm;
		margin-right: 25mm;
		padding: 0;
		size: letter portrait;
		background-color: transparent;
		orphans: 4;
		widows: 2;
		font-size: 10pt;
        @rightnote { width: 20vw; }
        @leftnote { width: 0vw; }
	}
	 
	@page :left {
		border-top: thin black solid;
		@top-left { 
			font-size: 10pt; 
			content: counter(page); 
			vertical-align: bottom; 
		}
	  	@top-center { 
			font-size: 10pt; 
			content: string(book_title); 
			vertical-align: bottom; 
		}
	  	@top-right { content: normal;}
	}

	@page :right {
        border-top: thin black solid;
		@top-left {
			font-size: 10pt;
			content: string(chapter_pretitle);
            vertical-align: bottom;
		}
	  	@top-center {
			font-size: 10pt;
			content: string(chapter_title);
            vertical-align: bottom;
	  	}
		@top-right {
			font-size: 10pt;
			content: counter(page);
            vertical-align: bottom;
		}
	}

  	@page :first {
        border: none;
		@top-left { content: normal; }
		@top-center { content: normal; }
		@top-right { content: normal; }
	}

	@page :blank {
        border: none;
		@top-left { content: normal; }
		@top-center { content: normal; }
		@top-right { content: normal; }
    }

	.sidenote, .marginnote { 
		float: none;
		clear: none;
		margin: 0 0 12pt 0;
		width: inherit;
	}

	/*
	.sidenote, .marginnote { 
        -prince-float-reference: sidenote;
        -prince-float-placement: align-top;
	}
	*/
	.sidenote { 
		font-size: 70%;
        -prince-float: rightnote;
	}
	
	.marginnote {
		font-size: 65%;
        -prince-float: rightnote;
	}

	html {
		font-size: 10pt;
	}

	body {
		width: 100%;
		max-width: 100%;
		margin-top: 0mm;
		margin-bottom: 0mm;
		margin-left: 0mm;
		margin-right: 0mm;
		padding: 0;
		background-color: transparent;
	}

	body.sidenotes {
		width: 85%;
		margin-top: 0mm;
		margin-bottom: 0mm;
		margin-left: 0mm;
		margin-right: 0mm;
		padding: 0;
		background-color: transparent;
	}

	page-container {
		padding: 0;
	}


	section {
		padding: 0;
	}

	p {
		font-size: 10pt;
	}
  
	blockquote p {
		font-size: 85%;
	}

	.site-title {
		font-size: 20pt;
		line-height: $line-height;
		margin-left: 10mm;
		margin-bottom: 10pt;
	}

	.book-title {
		string-set: book_title content();
		font-size: 14pt;

	}

	.chapter-pretitle {
		string-set: chapter_pretitle content();
		font-size: 14pt;
	}

	.chapter-title {
		string-set: chapter_title content();
		font-size: 16pt;
	}


	.casebook h1 {
		font-size: 18pt;
		padding-top: 1em;
	}

	.casebook h2 {
		font-size: 16pt;
		padding-top: 1em;
	}

	.casebook h3 {
		font-size: 13pt;
		padding-top: 1em;
	}

	.casebook h4 {
		font-size: 11pt;
	}
	
	.casebook h5 {
		font-size: 11pt;
		margin-top: 1rem;
	}

	.casebook h6 {
		font-size: 10pt;
		font-style: italic;
		margin-top: 1rem;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	header {
		display: none;
	}

	.button {
		display: none;
	}

	img {
		max-width: 100% !important;
	}
	
	p,
	h2,
	h3 {
	  orphans: 4;
	  widows: 4;
	}

	article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
	  page-break-after: avoid;
	}
   
}
// Hide print header/footer in screen display

@media screen {

	.print-header {
		display: none;
	}

	.print-footer {
		display: none;
	}

	.print-headfoot-block {
		display: none;
	}

}
