.print-header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

.print-header p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}

.print-footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.print-footer p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}

.print-headfoot-block {
	display: flex;
	flex-flow: row wrap;
	width: 75%;
	margin: 0 0 0 12.5%;
	border-bottom: 1px solid $off-black	;
}

.print-header p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}

.alignleft {
	width:50%;
	text-align:left;
}

.alignright {
	width:50%;
	text-align:right;
}

// Set page layout and hide screen elements for printing

@media print {

	@page {
	    margin: 1in 0in 1in 0in;
	    orphans:4;
		widows:2;
	}

	body {
	    font-size:  10pt;
	}

	.sidenote, .marginnote {
		float: right;
		clear: right;
		margin-right: -45%;
		width: 30%;
		margin-top: 0;
		margin-bottom: 0.5rem;
	}
	.sidenote {
		font-size: 8pt;
	}
	.marginnote {
		font-size: 8pt;
	}

	header {
        display: none;
    }

	footer {
        display: none;
    }

	.button {
		display: none;
	}

}


// Hide print header/footer in screen display

@media screen {

	.print-header {
		display: none;
	}

	.print-footer {
		display: none;
	}

	.print-headfoot-block {
		display: none;
	}

}
