.print-header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
}

.print-header p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}

.print-footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
}

.print-footer p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}

.print-headfoot-block {
	display: flex;
	flex-flow: row wrap;
	width: 75%;
	margin: 0 0 0 12.5%;
	border-bottom: 1px solid $off-black	;
}

.print-header p {
	font-family: $sans-font;
	font-size: 9pt;
	font-weight: $normal-weight;
}
  
.alignleft {
	width: 50%;
	text-align: left;
}
  
.alignright {
	width: 50%;
	text-align: right;
} 

// Set page layout and hide screen elements for printing

// For printing with Prince XML
  
@media print {
	@page {
		margin-top: 22.5mm;
		margin-bottom: 45mm;
		margin-left: 0;
		margin-right: 0;
		margin-inside: 15mm;
		margin-outside: 30mm;
		padding: 0;
		size: letter portrait;
		background-color: transparent;
		orphans: 4;
		widows: 2;
		font-size: 10pt;
        @leftnote { width: 20vw; padding-right: 3em;}
        @rightnote { width: 20vw; padding-left: 3em;}
	}
	 
	@page :left {
		border-top: thin black solid;
		@top-left { 
			font-size: 10pt; 
			content: string(chapter_pretitle) "-" counter(page); 
			vertical-align: bottom; 
		}
	  	@top-center { 
			font-size: 10pt; 
			content: string(book_title); 
			vertical-align: bottom; 
		}
	  	@top-right { content: normal;}
		@leftnote { width: 20vw;}
		@rightnote { width: 0vw;}
	}

	@page :right {
        border-top: thin black solid;
		@top-left { content: normal;}
	  	@top-center {
			font-size: 10pt;
			content: string(chapter_title);
            vertical-align: bottom;
	  	}
		@top-right {
			font-size: 10pt;
			content: string(chapter_pretitle) "-" counter(page);
            vertical-align: bottom;
		}
		@leftnote { width: 0vw; }
		@rightnote { width: 20vw; }
	}

  	@page :first {
        border: none;
		@top-left { content: normal; }
		@top-center { content: normal; }
		@top-right { content: normal; }
	}

	@page :blank {
        border: none;
		@top-left { content: normal; }
		@top-center { content: normal; }
		@top-right { content: normal; }
    }

	.sidenote, .marginnote {
		float: none;
		clear: none;
		margin: 0 0 12pt 0;
		width: inherit;
		hyphens: auto;
		hyphenate-lines: 1;
		-prince-float: outsidenote;
	}

	
	.sidenote { 
		font-size: 70%;
	}
	
	.marginnote {
		font-size: 65%;
	}

	html {
		font-size: 10pt;
	}

	body {
		width: 100%;
		max-width: 100%;
		margin-top: 0mm;
		margin-bottom: 0mm;
		margin-left: 0mm;
		margin-right: 0mm;
		margin-inside: 0;
		margin-outside: 0;
		padding: 0;
		background-color: transparent;
	}

	body.sidenotes {
		width: 100%;
		max-width: 100%;
		margin-top: 0mm;
		margin-bottom: 0mm;
		margin-left: 0mm;
		margin-right: 0mm;
		margin-inside: 0;
		margin-outside: 0;
		padding: 0;
		background-color: transparent;
	}

	page-container {
		padding: 0;
	}


	section {
		padding: 0;
	}

	p {
		font-size: 10pt;
        text-align-all: justify;
        text-align-last: left;
	}
  
	blockquote p {
		font-size: 90%;
	}

	.site-title {
		hyphens: none;
		font-size: 20pt;
		line-height: $line-height;
		margin-left: 10mm;
		margin-bottom: 10pt;
        text-align: left;
	}

	.book-title {
		hyphens: none;
		string-set: book_title content();
		font-size: 14pt;
        text-align: left;
	}

	.chapter-pretitle {
		string-set: chapter_pretitle content();
	}

	.chapter-title {
		hyphens: none;
		string-set: chapter_title content();
		font-size: 16pt;
        text-align: left;
	}

	h1, h2, h3, h4, h5, h6{
		hyphens: none;
        text-align: left;
	}

	.casebook h1 {
		font-size: 18pt;
	}

	.casebook h2 {
		font-size: 16pt;
	}

	.casebook h3 {
		font-size: 14pt;
	}

	.casebook h4 {
		font-size: 12pt;
	}
	
	.casebook h5 {
		font-size: 11pt;
	}

	.casebook h6 {
		font-size: 10pt;
	}

	ol, ul {
		text-align: justify;
	}
	
	li {
		text-align: justify;
	}

	.casebook pre {
		padding: 0 0 0 0;
		margin-left: 2em; 
		white-space: pre-wrap;
		background: transparent;
		border: none;
		text-align: justify;
	}
	
	.casebook pre, pre code, p code, p pre code {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
		padding: inherit;
		color: $text-color;
		background: transparent;
		text-align: justify;
	}
	
	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	header {
		display: none;
	}

	.button {
		display: none;
	}

	img {
		max-width: 100% !important;
	}

	hr {
		margin-top: 4em;
		margin-bottom: 4em;
	}
	
	p,
	h2,
	h3 {
	  orphans: 4;
	  widows: 4;
	}

	article h2, article h2 h3, article h3, article h3 h4, article h4, article h4 h5 {
	  page-break-after: avoid;
	}
   
}
// Hide print header/footer in screen display

@media screen {

	.print-header {
		display: none;
	}

	.print-footer {
		display: none;
	}

	.print-headfoot-block {
		display: none;
	}

}
