.profile-image {
	background-color: #cccccc;
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.profile-block {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.profile ul, ol {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.profile h1 {
    font-size: $title-size;
    line-height: 1;
    font-weight: $bold-weight !important;
    color: white;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h2 {
    font-style: normal;
    line-height: $line-height;
    color: white;
    font-weight: $bold-weight !important;
    margin: 1rem 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h1 + h3 {
    margin-top: 1rem;
}

.profile h3 {
    line-height: $line-height;
    color: white;
    font-weight: $bold-weight !important;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h2 + h3 {
    margin-top: 1rem;
}

.profile h4 {
    font-weight: $bold-weight !important;
	font-style: normal;
    color: white;
    line-height: $line-height;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.profile h2 + h4 {
    margin-top: 1rem;
}

/*
.profile h3 + h4 {
    margin-top: 1rem;
}
*/

.social {
    border-top: 0px solid $light-grey;
    margin-top: 2rem;
    line-height: 2.5;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.list-inline {
    padding: 0;
    list-style: none;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.list-inline>li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-size: $icons-medium;
}

.list-inline-item {
    display: inline-block;
}

.social-icons-left, .social-icons-right {
  text-align: center;
  float: none;
}

.social-icons {
  font-size: $icons-medium;
  padding: 0.5em 0 0 0;
  width: 100%;
}

.social-icons a.fa {
  cursor: pointer;
  opacity: 0.8;
  padding: 0.2em;
}

.social-icons a.fa:hover {
  opacity: 1;
}

.social-icons iframe[title=Flattr] {
  position: relative;
  top: 0.1em;
}

.contacticon {
    display: block;
    font-size: $icons-large;
    margin: 10px;
}
