.syllabus {
    padding-top: .5rem;
}

.syllabus {
	counter-reset: h2; 
}

.syllabus h1 {
	font-family: $heading-font;
	color: $theme-color;
}

.syllabus h2 {
	font-family: $heading-font;
	color: $theme-color;
	font-weight: $normal-weight;
}

.syllabus h3 {
	font-family: $heading-font;
	font-weight: $normal-weight;
}

.syllabus h4 {
	font-family: $serif-font;
	font-style: italic;
	font-weight: $normal-weight;
}

.syllabus h5 {
	font-family: $serif-font;
	font-weight: normal;
    font-size: $h4;
	font-weight: $normal-weight;
    margin-bottom: 3rem;
}

.syllabus h6 {
	font-family: $sans-font;
    font-weight: $light-weight;
    margin-top: .2em;
}

.syllabus h2:first-child {
	margin-top: 0;
}

.syllabus h1 + h3 {
    margin-top: 0;
}

.syllabus h2 + h3 {
    margin-top: 0;
}

.syllabus h4 + h2 {
    margin-top: 0rem;
}

.syllabus h4 + h3 {
    margin-top: 1.5rem;
}

.syllabus h4 + h5 {
    margin-top: 1.5rem;
}


/* --- For Site Link --*/

.syllabus pre {
	width: 100%;
	padding: 0;
	overflow-x: auto; 
}

.syllabus pre, pre code, p code, p pre code {
	font-size: $small-size;
	line-height: $line-height; 
	vertical-align: baseline; 
	margin-top: 1rem; 
	margin-bottom: 1rem; 
}
