.syllabus {
    padding-top: .5rem;
}

.syllabus-header {
	margin-bottom: 2rem;
}

.syllabus h1 {
	font-family: $sans-font;
	color: $theme-color;
	margin-top: 1.5rem;
    margin-bottom: 0rem;
}
.syllabus h2 {
	font-family: $sans-font;
	color: $theme-color;
    font-size: $h2;
    font-style: normal;
    font-weight:$normal-weight;
	margin: 2rem 0 0 0;
}
.syllabus h3 {
    font-size: $h4;
	font-weight: $normal-weight;
	margin: 2rem 0 .5rem 0;
}
.syllabus h4 {
    font-size: $h5;
    font-weight:$normal-weight;
    font-style: italic;
	margin: .5rem 0 .5rem 0;
}
.syllabus h5 {
    font-size: $h6;
    font-style: italic;
    font-weight: $normal-weight;
	margin: .5rem 0 .5rem 0;
}
.syllabus h6 {
    font-size: $smaller-size;
	font-family: $sans-font;
    font-weight: $normal-weight;
    font-style: normal;
    margin: .2rem 0 0rem 0;
}

.syllabus a {
    color: $theme-color;
    text-decoration: none;
    &:hover {
		color:darken($theme-color, 50%);
	    text-decoration: underline;
    }
}

.syllabus table {
	margin: 2rem 0 1rem 0;
	max-width: 100%;
}
.syllabus th {
	font-size: $body-size;
	font-weight: $bold-weight;
}
.syllabus td {
	font-size: $small-size;
}