.syllabus {
    padding-top: .5rem;
}

.syllabus {
	counter-reset: h2;
}

.syllabus-header {
	margin-bottom: 2rem;
}

.syllabus h1 {
	font-family: $heading-font;
	color: $theme-color;
	margin-top: 1.5rem;
    margin-bottom: 0rem;
}

/* --- Unit --*/

.syllabus h2 {
	font-family: $heading-font;
    font-style: normal;
	margin-top: 0rem;
    margin-bottom: 0rem;
}

/* --- Topic --*/

.syllabus h3 {
	font-family: $heading-font;
    font-style: normal;
	margin-top: 0rem;
    margin-bottom: 0rem;
}

/* --- Date --*/

.syllabus h4 {
	font-family: $heading-font;
    font-style: italic;
	margin-top: 0rem;
    margin-bottom: 0rem;
}

.syllabus h5 {
	font-family: $heading-font;
    font-style: italic;
	margin-top: 0rem;
    margin-bottom: 0rem;
}

.syllabus h6 {
	font-family: $sans-font;
    font-weight: $light-weight;
    font-style: normal;
    margin-top: .2em;
    margin-bottom: 0rem;
}

.syllabus h2:first-child {
	margin-top: 0;
}

.syllabus h1 + h3 {
    margin-top: 0rem;
}

.syllabus h2 + h3 {
    margin-top: 0rem;
}

.syllabus h4 + h2 {
    margin-top: 0rem;
}

.syllabus h4 + h3 {
    margin-top: 1.5rem;
}

.syllabus h4 + h5 {
    margin-top: 1.5rem;
}


.syllabus a {
    color: $theme-color;
    text-decoration: none;
    &:hover {
		color:darken($theme-color, 50%);
	    text-decoration: underline;
    }
}


.syllabus table {
	width: 100%;
}


.syllabus th {
	font-size: $medium-size;
}

.syllabus td {
	font-size: $small-size;
}
