table {
	width: 85%;
	font-size: $smaller-size;
	margin: 2rem auto 4rem auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
th {
	font-family: $heading-font;
	background: #eee8d5;
	border-bottom: 1px solid black;
}
td, th {
  font-size: $smaller-size;
  padding: 10px;
  text-align: left;
}
table,th,td {
	border-collapse:collapse;
	padding:10px;
	vertical-align: top;
}
table,th,td {
	border: 1px solid #93a1a1;
}
noheader th {
	display: none;
}

/* UNCOMMENT FOR ALTERNATING ROW COLORS
tbody tr:nth-child(even) {
	background: #eee8d5;
}
*/

/* Allow tables to be full width if they're wrapped in a figure.fullwidth */
/*
figure.fullwidth table {
  width: 90%;
}
*/

@media (max-width: 760px) {
  figure.fullwidth table {
    width: 100%;
  }
}


/* Tufte Table Styles */

/*
table, table.booktabs { width: auto;  //making booktabs style tables the unstyled default in case someone uses Markdown styling
	//margin: 0 auto;
	border-spacing: 0px;
	border-top: 2px solid $border-color;
	border-bottom: 2px solid $border-color; }

.booktabs th, th { border-bottom: 1px solid $border-color;
  padding: 0.65ex 0.5em 0.4ex 0.5em;
  font-weight: normal;
  //text-align: center; 
  }

th, td{ font-size: 1.2rem;
line-height: 1.71428571;  }

.booktabs th.cmid, th { border-bottom: 1px solid lighten($border-color, 25%); }

.booktabs th.nocmid { border-bottom: none; }

.booktabs tbody tr:first-child td,  tr:first-child td { padding-top: 0.65ex; } 

.booktabs td, td {  padding-left: 0.5em;
	   padding-right: 0.5em;
	   text-align: left; }            

.booktabs caption, caption { font-size: 90%;
	   text-align: left;
	   width: auto;
	   margin-left: auto;
	   margin-right: auto;
	   margin-top: 1ex;
	   caption-side: top; }

.booktabs tbody tr, .booktabs thead tr th.l, .booktabs td.l { text-align: left !important; }
.booktabs tbody tr, .booktabs thead tr th.c, .booktabs td.c { text-align: center !important; }
.booktabs tbody tr, .booktabs thead tr th.r, .booktabs td.r { text-align: right !important; }

.table-caption { float:right;
	clear:right;
	margin-right: -60%;
	width: 50%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.0rem;
	line-height: 1.96; }
*/
