.sidenote, .marginnote { 
	float: right;
	clear: right;
	margin-right: -40%;
	width: 35%;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.sidenote { 
	font-family: $sidenotes-font;
	font-size: $smallest-size;
	font-weight: $light-weight;
	line-height: 1.2; 
	vertical-align: baseline;
	position: relative; 
}

.marginnote { 
	font-family: $marginnotes-font;
	font-size: $smallest-size;
	font-weight: $light-weight;
	line-height: 1.2; 
	vertical-align: baseline;
	position: relative; 
}

li .sidenote, li .marginnote{
	margin-right: -80%; 
} // allows for list indents in marginnotes and sidenotes

blockquote .sidenote, blockquote .marginnote {
	margin-right: -79% 
}

.sidenote-number {
	counter-increment: sidenote-counter; 
}

.sidenote-number:after, .sidenote:before { 
	content: counter(sidenote-counter) " ";
	font-family: $body-font;
	color: $contrast-color;
	position: relative;
	vertical-align: baseline; 
}

.sidenote-number:after { 
	content: '['counter(sidenote-counter)']' ;
	font-weight: $normal-weight;
	top: -0.3rem;
	left: 0.1rem; 
}

.sidenote:before {
	content: counter(sidenote-counter) ".\000a0"; // non-breaking space
	color: $contrast-color;
	top: 0rem; 
} 

.marginnote code, .sidenote code { 
	font-size: 1rem; 
}

label.sidenote-number { 
	display: inline; 
	font-size: $smallest-size; 
}

label.margin-toggle:not(.sidenote-number) { 
	display: none; 
}

.full-width { 
	.sidenote, .sidenote-number, .marginnote {
		display: none; 
	} 
}

input.margin-toggle { 
	display: none; 
}



@media (max-width: 760px) { 
	label.margin-toggle:not(.sidenote-number) { 
		display: inline; color: $contrast-color; 
	}
	.sidenote, .marginnote { display: none; }
	.margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative; 
	}
	label { 
		cursor: pointer; 
	}
	pre, pre code, p code, p pre code { 
		width: 90%;
		padding: 0; 
	}
	table-caption { 
		display: block;		
		float: right;
		clear: both;
		width: 98%;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		margin-left: 1%;
		margin-right: 1%;
		vertical-align: baseline;
		position: relative; 
	}
	div.table-wrapper, table, table.booktabs { 
		width: 85%; 
	}
	div.table-wrapper { 
		border-right: 1px solid #efefef; 
	}
	img { 
		max-width: 100%; 
	} 
	figcaption.maincolumn-figure, figure.fullwidth figcaption { 
		float:none; text-align: center;
	}
	figure.fullwidth figcaption { 
		margin-left: 0; 
	}
}


span.newthought {
	font-variant: small-caps;
	font-size: 1.2em;
	letter-spacing: 0.05rem; 
}


div.epigraph { margin: 3.5636rem 0; }

div.epigraph > blockquote { margin-top: 3rem; margin-bottom: 3rem; }

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; width: 45%; padding-left: 2.5%; padding-right: 2.5%; padding-top: 0; margin-top: 0.4455rem; margin-bottom: 3.1182rem; }

div.epigraph > blockquote > footer > cite { font-style: italic; }

