.sidenote, .marginnote { 
	float: right;
	clear: right;
	margin-right: -45%;
	width: 30%;
	margin-top: 0;
	margin-bottom: 0.5rem;
}

.sidenote { 
	font-family: $sidenotes-font;
	font-size: $smallest-size;
	font-weight: $light-weight;
	line-height: 1.2; 
	vertical-align: baseline;
	position: relative; 
}

.sidenote hr { 
	border: none;
	opacity: 0;
	height: 6px;
}

.marginnote { 
	font-family: $marginnotes-font;
	font-size: $smallest-size;
	font-weight: $light-weight;
	color: $dark-green;
	line-height: 1.2; 
	vertical-align: baseline;
	position: relative; 
    text-indent: 0em;
}

.marginnote hr { 
	border: none;
	opacity: 0;
	height: 6px;
}

span.blockquote{
	font-style: italic;
    display: block;
    float: left;
    left: 0rem;
	text-indent: 0;
    margin-top: -5%;
    margin-bottom: 5%;
    clear: both;
    width: 90%;
    position: relative;
    padding: 0.25rem 0.75rem
}


li .sidenote, li .marginnote{
	margin-right: -80%; 
} // allows for list indents in marginnotes and sidenotes

blockquote .sidenote, blockquote .marginnote {
	margin-right: -79% 
}

.sidenote-number {
	counter-increment: sidenote-counter; 
}

.sidenote-number:after, .sidenote:before { 
	content: counter(sidenote-counter) " ";
	font-family: $body-font;
	color: $contrast-color;
	position: relative;
	vertical-align: baseline; 
}

.sidenote-number:after { 
	content: '['counter(sidenote-counter)']' ;
	font-weight: $normal-weight;
	top: -0.3rem;
	left: 0.1rem; 
}

.sidenote:before {
	content: counter(sidenote-counter) ".\000a0"; // non-breaking space
	color: $contrast-color;
	top: 0rem; 
} 

.marginnote code, .sidenote code { 
	font-size: .6rem; 
}

label.sidenote-number { 
	display: inline; 
	font-size: $tiny-size; 
}

label.margin-toggle:not(.sidenote-number) { 
	display: none; 
}

.full-width { 
	.sidenote, .sidenote-number, .marginnote {
		display: none; 
	} 
}

input.margin-toggle { 
	display: none; 
}

span.newthought {
	font-variant: small-caps;
	font-size: 1.2em;
	letter-spacing: 0.05rem; 
}

div.epigraph { margin: 3.5636rem 0; }

div.epigraph > blockquote { margin-top: 3rem; margin-bottom: 3rem; }

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer { font-style: normal; width: 45%; padding-left: 2.5%; padding-right: 2.5%; padding-top: 0; margin-top: 0.4455rem; margin-bottom: 3.1182rem; }

div.epigraph > blockquote > footer > cite { font-style: italic; }

/* Figures */
figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 90%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 1em auto 1em auto;
}

/*
figcaption {
	font-family: $sans-font;
    font-size: $smaller-size;
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
}
*/

figcaption {
	font-family: $sans-font;
    font-size: $body-size;
    margin: 0;
    text-align: center;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
}

figure.fullwidth table {
  width: 90%;
}

/*
figure.fullwidth figcaption {
    margin-right: 24%;
}
*/

figure > img {
    display: block;
}

@media screen and (max-width: 700px) { 
	label.margin-toggle:not(.sidenote-number) { 
		display: inline; color: $contrast-color; 
	}
	.sidenote, .marginnote { display: none; }
	.margin-toggle:checked + .sidenote, .margin-toggle:checked + .marginnote {
		display: block;
		float: left;
		left: 1rem;
		clear: both;
		width: 95%;
		margin: 1rem 2.5%;
		vertical-align: baseline;
		position: relative; 
	}
	label { 
		cursor: pointer; 
	}
	pre, pre code, p code, p pre code { 
		width: 90%;
		padding: 0; 
	}
	table-caption { 
		display: block;		
		float: right;
		clear: both;
		width: 98%;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		margin-left: 1%;
		margin-right: 1%;
		vertical-align: baseline;
		position: relative; 
	}
	div.table-wrapper, table, table.booktabs { 
		width: 85%; 
	}
	div.table-wrapper { 
		border-right: 1px solid #efefef; 
	}
	img { 
		max-width: 100%; 
	} 
	figcaption.maincolumn-figure, figure.fullwidth figcaption { 
		float:none; text-align: center;
	}
	figure.fullwidth figcaption { 
		margin-left: 0; 
	}
}
