$serif-font: portada, serif;
$sans-font:  adelle-sans, sans-serif;
$body-font: $serif-font;
$heading-font: $sans-font;
$serif-heading-font: portada, serif;
$sidenotes-font: portada, serif;
$marginnotes-font: adelle-sans, sans-serif;
$mono-font: lft-etica-mono,Inconsolata,Consolas,Courier, monospace;

// Font Sizes 
$base-size: 16px !default;
$small-size:  .9rem !default;
$smaller-size:  .8rem !default;
$smallest-size:  .7rem !default;
$tiny-size: .6rem !default;
$large-size:  1.2rem !default;
$larger-size:  1.5rem !default;
$largest-size:  1.8rem !default;
$huge-size:  2.2rem !default;
$title-size: 3.12rem !default;
$body-size: 1rem !default;
$h1: 2.2rem !default;
$h2: 1.8rem !default;
$h3: 1.5rem !default;
$h4: 1.2rem !default;
$h5: 1rem !default;
$h6: .9rem !default;
$icons-large: 3rem;
$icons-medium: 2rem;
$icons-small: 1rem;
$contacticon-large: 3rem;
$contacticon-medium: 2rem;
$contacticon-small: 1rem;

// font weights
$black-weight: 			900 !default;
$heavy-weight: 			800 !default;
$bold-weight: 			700 !default;
$medium-weight: 		600 !default;
$book-weight: 			500 !default;
$normal-weight: 		400 !default;
$light-weight: 			300 !default;
$extra-light-weight: 	200 !default;
$thin-weight: 			100 !default;

// line heights
$line-height: 1.5 !default;
$short-line-height:  1.3 !default;
$shorter-line-height:  1.2 !default;
$shortest-line-height:  1.1 !default;
$tall-line-height:  1.6 !default;
$taller-line-height:  1.7 !default;
$tallest-line-height:  1.8 !default;
$single-line-height: 1 !default;
$double-line-height: 2 !default;
$doublehalf-line-height: 2.5 !default;
$header-height: 56px;
$footer-height: 40px;

// COLORS

// reds 
$red:               #FF3636 !default;
$dull-red:          #b03a2e !default;

// oranges
$orange:            #F29105 !default;
$deep-orange:       #973A05 !default;
$dull-orange: 		#B16032 !default;

// yellows 
$yellow:            #efcc00 !default;

// greens
$green:             #00ab37 !default;
$dark-green:        #006400 !default;
$light-green:       #ddffdd !default;

// blues
$blue:              #2698BA !default;
$dark-blue:         #00369f !default;
$bright-blue:       #3498db !default;
$bright-cyan:       #2EA4B0 !default;
$bright-navy:       #2E55B0 !default;

// whites
$white:             #ffffff !default;
$off-white: 		#fffff8 !default;

// greys
$grey: 				#828282 !default;
$dark-grey:         #17202a !default;
$medium-grey:       #2c3e50 !default;
$light-grey:        #d5d8dc !default;
$lighter-grey:      #eeeeee !default;
$grey-green:        #424949 !default;

// blacks 
$black: 			#000000 !default;
$off-black: 		#191919 !default;

// Theme Colors 
$theme-color:       $dull-red;
$background-color:  $off-white;
$text-color:        $off_black;
$contrast-color:    $dull-red;
$heading-color: 	$dull-red;
$code-color:        $bright-cyan;
$link-color:		$deep-orange;
$link-hover-color:  $dull-orange;

// Button Colors 
$primary:			$theme-color;
$success: 			#4DAF7C;
$danger: 			#E6623C;

// Borders
$border-color: $light-grey !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Viewport widths
$viewport-small: 600px;
$viewport-medium: 768px;
$viewport-large: 1000px;

// Breakpoints
$breakpoint-md: '(min-width: 52em)';
$breakpoint-xl: '(min-width: 96em)';

// Portfolio 
$img_spacing: 5px;
$img-height: 275px;
$caption-font-size: $smaller-size;
$caption-color: $off-black;

// Buttons
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$button-font-family: $sans-font;

// Forms
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

// add on-palm to be consistent with other jekyll theme media queries 
$on-palm:  768px !default;
