* {
	margin: 0; 
	padding: 0; 
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

html, body { 
	height: 100%; 
}

html{
	font-size: $base-size;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body { 
	width: 85%;
	max-width: 40rem;
	margin-left: 12.5%;
	margin-right: 0;
	padding: 0 2.5rem 0 .5rem;
	font-family: $body-font;
	background-color: $background-color;
	color: $text-color;
    counter-reset: h1 sidenote-counter; 
}

body.centered {
	width: 85%;
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
	padding: 0 2.5rem 0 2.5rem;
}

body.fullwidth {
	width: 90%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

body.sidenotes { 
	width: 55%;
	margin-left: 12.5%;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
    counter-reset: h1 sidenote-counter; 
}

.site {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
			-ms-flex-direction: column;
					flex-direction: column;
	min-height: 100vh;
}

.site-wrap {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
			-ms-flex: 1 0 auto;
					flex: 1 0 auto;
}

.wrapper {
    max-width: -webkit-calc(90%);
    max-width:         calc(90%);
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}
