table {
	width: 85%;
	font-size: $smaller-size;
	margin: 2rem auto 4rem auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
th {
	font-family: $heading-font;
	background: #eee8d5;
	border-bottom: 1px solid black;
}
td, th {
  font-size: $smaller-size;
  padding: 10px;
  text-align: left;
}
table,th,td {
	border-collapse:collapse;
	padding:10px;
	vertical-align: top;
}
table,th,td {
	border: 1px solid #93a1a1;
}
noheader th {
	display: none;
}

/* UNCOMMENT FOR ALTERNATING ROW COLORS
tbody tr:nth-child(even) {
	background: #eee8d5;
}
*/

/* Allow tables to be full width if they're wrapped in a figure.fullwidth */
/*
figure.fullwidth table {
  width: 90%;
}
*/

@media (max-width: 760px) {
  figure.fullwidth table {
    width: 100%;
  }
}