<!DOCTYPE html>
<html>
{% include head.html %}

<body class="sidenotes">
	{% include header.html %}

	{% include print-header.html %}

<div class="page-container">

	<div class="page-header group">
		<h1 class="page-title">{{ page.title }}</h1>
		{% if page.subtitle %}
		<h2 class="page-subtitle">{{ page.subtitle }}</h2>
		{% endif %}
		<h3 class="page-cite">{{ page.cite }} ({% if page.jurisdiction %}{{ page.jurisdiction }} {% endif %}{% if page.published %}{{ page.published }}){% endif %}</h3>
		{% if page.panel %}
		<h3 class="page-cite">{{ page.panel }}</h3>
		{% endif %}
		{% if page.judge %}
		<h3 class="page-cite">{{ page.judge }}</h3>
		{% endif %}
	</div>

    <article class="sidenotes-page">
	    <div class="case">
        {{ content }}
        </div>
    </article>

</div>
	
	{% include hemline.html %}

</body>

</html>
