<!DOCTYPE html>
<html>
{% include head.html %}

<body class="sidenotes">
	{% include header.html %}

    {% include print-header.html %}

	<div class="casebook-container">
		<article class="group">

			<div class="casebook-header group">
				{% if page.chapter %}
				<h2 class="casebook-header">{{ page.chapter }}</h2>
				{% endif %}
				<h1 class="casebook-header">{{ page.title }}</h1>
			</div>

			<div class="casebook">
				{{ content }}
			</div>

			<article>
	</div>

	{% include hemline.html %}

</body>

</html>