<!DOCTYPE html>
<html>
{% include casebook-head.html %}

<body class="sidenotes">
{% include casebook-header.html %}

<div class="page-container">

    <div class="chapter-heading group">
    	{% if page.chapter %}
        <p class="chapter-pretitle">{{ page.chapter }}</p>
        {% endif %}
        <p class="chapter-title">{{ page.title }}</p>
    </div>

    <article class="casebook">
        {{ content }}
    </article>

</div>

    <!-- Code for "Back to Top" Button -->
    <!-- <div class="container-top">
        <a href="#" class="top"></a>
    </div>-->

<!-- Load Anchor JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/{{ site.anchorjs_version }}/anchor.min.js"></script>

<!-- Table of Contents JS -->
<script src="{{ site.baseurl }}/assets/js/toc.js"></script>



{% include hemline.html %}

</body>

</html>
