<!DOCTYPE html>
<html>
{% include head.html %}

<body class="fullwidth">
	<div class="cover-image" style="background-image: url('cover.png');">

		<div class="page-container">
		
			<div class="cover">
				<div class="cover-block">
					<p class="cover-title">{{ site.title }}</p>
					<p class="cover-subtitle">{{ site.description }}</p>
					<br>
					<p class="cover-author">{{ site.author }}</p>
					<p class="cover-institution">{{ site.institution }}</p>

					{{ content }}

				<div class="social">
					<span class="contacticon">
					<a title="Table of Contents"href="{{ site.baseurl }}/contents/"><i class="fa-solid fa-book-bookmark"></i></a>
					</span>
				</div>

				</div>



			{% include home-footer.html %}
			{% include hemline.html %}
			{% include statcounter.html %}

			</div>
		</div>
	</div>
</body>

</html>
