---
layout: default
---

<div class="page-container">

<!-- syllabus header -->
	<div class="page-header group">
		<h1 class="page-title">{{ page.title }}</h1>
		{% if page.subtitle %}
		<h2 class="page-subtitle">{{ page.subtitle }}</h2>
		{% endif %}
		<a href='{{ site.baseurl }}/assets/pdf/syllabus.pdf'><button class='button syllabus smaller'>PDF</button></a>
	</div>

<div class="syllabus">

	<h6>{{ site.data.course.subject }}</h6>
	<h6>{{ site.data.author.institution }}</h6>
	<h6>{{ site.data.course.term }}</h6>
	<h6>{{ site.data.course.room }}</h6>
	<h6>{{ site.data.course.meets }}</h6>

	<br>
	<h6>{{ site.data.author.name }}</h6>
	<h6><a href="{{ site.data.author.email }}">{{ site.data.author.email }}</a></h6>
	<h6>{{ site.data.author.phone }}</h6>
	<h6>Office hours <a href=https://calendly.com/emfink />by appointment</a></h6>

<!-- syllabus body -->
	{{ content }}

</div> 
</div> 
