<!DOCTYPE html>
<html>

{% include head.html %}

<body class="centered">
    
{% include header.html %}

<div class="page-container">
    
<div class="vita">

<!-- vita header -->

<div class="row">
	<div class="column vita-right">
	<a href="{{ site.baseurl}}/{{ page.pdf }}"><button class="button smaller primary">PDF</button></a>
	</br>
	</div>
</div>

<div class="row">
</div>

<div class="vita-header group">

	<div class="vita-contact">
	  <div class="row">
		<div class="column vita-left">
			<p class="vita-contact">{{ site.institution }}</p>
			<p class="vita-contact">{{ site.street }}</p>
			<p class="vita-contact">{{ site.city }}, {{ site.state }} {{ site.zip }}</p>
		</div>
		<div class="column vita-right">
			<p class="vita-contact">{{ site.phone }} &nbsp; <a href="tel:{{ page.phone }}"><i class="fas fa-phone"></i></p></a>
			<p class="vita-contact">{{ site.email }} &nbsp; <a href="mailto:{{ page.email }}"><i class="fa fa-envelope"></i></p></a>
			<p class="vita-contact">{{ site.web }} &nbsp; <a href="https://www.emfink.net/ElonLaw"><i class="fas fa-globe"></i></p></a>
		</div>
	  </div>
	</div>

</div>

	<div class="vita-author group">
	{{ site.author }}
	</div> 

<!-- cv body -->

	{{ content }}

</div> 

{% include vita-print-footer.html %}
{% include hemline.html %}

</body>

</html>
